:experience{
  --border-color: red;
}

.experience-section {
  max-width: var(--page-width); 
  min-height: 1450px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px;
  padding-right: 50px;
  border-bottom-left-radius: 150px;


  color: white;
  background-image: linear-gradient(to right, var(--theme-gray-6b), var(--background-color));
}

.statement-box {
  width: 400px; 
  margin-bottom: 150px;
  font-family: "Nunito Regular";
  font-size: 24px;
  color: var(--theme-green);
  line-height: 1.5;
}

.experience-list {
  width: 500px; 
  height: 800px;

  margin: 20px;
  margin-top: 50px;
  padding-top: 100px;
}

.experience-entry {
  width: 450px; 

  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;

  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border-width: px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-style: solid;

  background-image: linear-gradient(var(--theme-gray-4b), var(--theme-gray-6b));
  filter: drop-shadow(10px 10px 10px #202024);
}

.experience-entry-description {
  width: 450px; 

  margin-left: 20px;
  margin-right: 20px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: -50px;

  border-width: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: solid;

  filter: drop-shadow(10px 10px 10px #202024);

  color: var(--theme-gray-4h);
  opacity: 0.8;
}

.project-entry {
  width: 450px; 

  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;

  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border-width: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-style: solid;

  background-image: linear-gradient(var(--theme-gray-4b), var(--theme-gray-6b));
  filter: drop-shadow(10px 10px 10px #202024);
  overflow: hidden;
}

.entry-overlay-hue {
  opacity: 0.5;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -1000;
  
  mix-blend-mode:overlay;
}

.entry-overlay {

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -1000;
  
  mix-blend-mode: color-dodge;
}


.project-entry-description {
  width: 450px; 
  max-height: 450px;

  margin-left: 20px;
  margin-right: 20px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: -50px;

  border-width: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: solid;

  filter: drop-shadow(10px 10px 10px #202024);

  color: var(--theme-gray-4h);
  opacity: 0.8;
}

.skill {
  margin: 5px;

  font-family: "Nunito Bold";
  font-size: 18px;
  line-height: 1.5;

  filter: drop-shadow(6px 6px 4px #1a1a1a);
}

